/* Global */
:root {
  --pri-col: hsl(257, 40%, 49%);
}

body {
  background-color: var(--pri-col);
  background: var(--pri-col) url('./images/bg-desktop.svg') no-repeat;
  background-size: cover;
}

/* Body */
.logo {
  margin: 0;
  padding: 50px 0 50px 70px;
}

.container {
  padding: 0;
  margin: auto;
  width: 90%;
}

.landImg {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.text {
  color: white;
  padding-top: 5%;
  font-family: 'Poppins', sans-serif;
  width: 75%;
}

h1 {
  font-size: 3em;
  line-height: 1.5;
}

p {
  font-size: 1.3em;
  line-height: 1.5;
}

.regBtn {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;

  color: var(--pri-col);
  padding: 20px 100px;
  border: none;
  border-radius: 90px;
  box-shadow: 10px 5px 40px 0.5px black;
}

.socialBar {
  text-align: right;
  padding: 75px 0px;
  width: 85%;
}

.social {
  background-color: var(--pri-col);
  border: 3px solid white;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 0 10px;
}

.social a {
  text-decoration: none;
  color: white;
}

.social i {
  font-size: 1.3em;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: white;
}
